<ul style="list-style: none; padding: 0;">
  <% for (const todo of todos) { %>
    <li style="margin-bottom: 10px;">
      <a href="/todo/<%= todo.id %>" style="display: inline-block; margin: 5px; padding: 10px 20px; text-decoration: none; color: #fff; background-color: #007BFF; border-radius: 5px;">
        <%= todo.title %>
      </a>
      &nbsp;
      <a href="/remove-todo/<%= todo.id %>" style="display: inline-block; margin: 5px; padding: 10px 20px; text-decoration: none; color: #fff; background-color: #dc3545; border-radius: 5px;">
        odebrat
      </a>
      &nbsp;
      <a href="/toggle-todo/<%= todo.id %>" style="display: inline-block; margin: 5px; padding: 10px 20px; text-decoration: none; color: #fff; background-color: <%= todo.done ? '#28a745' : '#ffc107'; %>; border-radius: 5px;">
        <%= todo.done ? 'hotovo' : 'nehotovo' %>
      </a>
      &nbsp;
      <span style="font-weight: bold;">priorita <%= todo.priority %></span>
    </li>
  <% } %>
  </ul>